@import '../styles/theme';

:host {
  display: block;
  height: 100%;
}

.toolbar {
  position: relative;
  background-color: mat-color($nga-background, card);
  box-shadow: 0 1px mat-color($nga-foreground, divider);

  &__logo-title-group {
    position: absolute;
    right: 50%;
    left: 50%;
  }

  &__logo {
    height: 32px;
    margin-right: 16px;
  }

  &__title {
    color: mat-color($nga-foreground, text);
    font-family: 'Titilium Web', sans-serif;
    font-weight: 600;
    text-decoration: none;
  }

  &__icon-button {
    color: mat-color($nga-foreground, icon)
  }

  &__shopping-cart-button {
    margin-right: 8px;
  }
}
